<launch>
  <include file="$(find robots)/launch/sim.launch">
    <arg name="world_name" value="$(find ejercicio_mapas)/worlds/small_house.world"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ejercicio_mapas)/rvizConf.rviz"/>

  <node pkg="ejercicio_mapas" type="nodo_bedroom" name="bedroom"/>
  <node pkg="ejercicio_mapas" type="nodo_emptyroom" name="emptyroom"/>
  <node pkg="ejercicio_mapas" type="nodo_gym" name="gym"/>
  <node pkg="ejercicio_mapas" type="nodo_kitchen" name="kitchen"/>
  <node pkg="ejercicio_mapas" type="nodo_2" name="practica4"/>

</launch> 