<launch>

  <node pkg="practica3_improved" type="nodo_ball" name="Ball"/>
  <node pkg="practica3_improved" type="nodo_blue" name="BlueGoal"/>
  <node pkg="practica3_improved" type="nodo_yellow" name="YellowGoal"/>
  <node pkg="practica3_improved" type="nodo_turn" name="Turn"/>
  <node pkg="practica3_improved" type="nodo_sm" name="stateMachine"/>

</launch>